.search_in_ddl_div{
    position: absolute;
    right: 175px;
}
.search_in_ddl_div select{
    border: 1px solid #cecbcb;
    padding: 10px 0px;
    margin: 6px;
    background-color: white;
    border-radius: 9px;
    font-family: "Lato","Lucida Grande", Helvetica, Verdana, Arial;
    font-size: 13px;
}
